nav {
  width: 25%;
  background-color:#14284B;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li a {
  display: block;
  padding: 1rem 1rem;
  color: white;
  text-decoration: none;
}
nav ul li a.current {
  background: black;
}

